.app-container {
  min-height: 100vh;
  margin: 0px;
}

.input-items-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}
.add-project-heading {
  font-size: 28px;
  font-weight: 600;
  padding-bottom: 4px;
  border-bottom: 4px solid rgb(255, 230, 0);
}
.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  width: 100%;
  max-width: 400px;
}

.label {
  margin-bottom: 5px;
  font-family: 'roboto';
  font-size: 15px;
  font-weight: 500;
  margin-top: 25px;
}
.input-item {
  padding: 10px;
  background-color: rgb(252, 250, 242);
  border-radius: 5px;
  border: none;
  outline: none;
  width: 100%;
  max-width: 400px;
  box-shadow: rgba(100, 100, 111, 0.678) 0px 7px 29px 0px;
}
.input-description {
  padding: 10px;
  background-color: rgb(252, 250, 242);
  border-radius: 5px;
  border: none;
  outline: none;
  width: 100%;
  max-width: 400px;
  height: 30vh;
  box-shadow: rgba(100, 100, 111, 0.678) 0px 7px 29px 0px;
}

.add-button {
  margin-top: 35px;
  border: none;
  background-color: rgb(255, 230, 0);
  color: black;
  padding: 10px 20px;
  border-radius: 5px;
  font-weight: 600;
  align-self: flex-end;
}
.error-msg {
  color: red;
  margin: 0;
  margin-top: 10px;
}

.bottom-image {
  width: 100%;
}

.project-main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.Project-heading {
  font-size: 28px;
  font-weight: 600;
  padding-bottom: 4px;
  border-bottom: 4px solid rgb(255, 230, 0);
  margin-top: 50px;
}

.project-container {
  padding: 10px;
  width: 90%;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 80px;
}

.footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.social-media-container {
  display: flex;
  align-items: center;
}
.social-media-icon {
  margin: 10px;
}

.copyright-text {
  font-size: 14px;
  color: rgb(61, 61, 61);
  font-family: 'Roboto';
}

.empty-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 75vh;
}
.empty-image {
  padding: 10px;
  width: 100%;
  max-width: 400px;
}
.empty-msg {
  font-size: 20px;
  font-family: 'Roboto';
}
.empty-error-msg {
  font-size: 17px;
  color: rgb(61, 61, 61);
  font-family: 'Roboto';
}

@media screen and (min-width: 768px) {
  .project-container {
    width: 85%;
    max-width: 850px;
  }
}
