.navbar-main-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-bar-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin: 20px;
  width: 100%;
}

.app-name {
  font-size: 15px;
  color: purple;
  font-weight: 500;
  font-family: 'Roboto';
}

.nav-item-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin: 0;
}

.nav-item {
  font-size: 15px;
  list-style: none;
  padding: 7px;
  font-weight: 500;
  font-family: 'Roboto';
}
.hyper-link {
  color: black;
  text-decoration: none;
}

@media Screen and (min-width: 576px) {
  .nav-bar-container {
    width: 85%;
  }
}
